/* labels */
.label {
	padding: 10px;
	text-align: center;
	font-size: 11px;
	font-family: 'aywr';
}

/* grid */
.grid_items {
	padding: 2%;
	display: grid;
	grid-template-columns: 98%;
	grid-column-gap: 0;
	grid-row-gap: 15px;
}

.grid_items > div {
    background-color: #bbb;
    padding: 3%;
    border-radius: 4px;
    border: 3px solid #ccc;
}

.grid_items > div:nth-child(2n) {
	background-color: #eee;
	border-radius: 4px;
	border: 3px soild #fff;
}

.grid_items > div:nth-child(3n) {
    background-color: #ddd;
	border-radius: 4px;
    border: 3px soild #eee;
}

.grid_items > div:nth-child(4n) {
	background-color: #ccc;
	border-radius: 4px;
	border: 3px soild #ddd;
}

/* grid items img & hover */
.grid_item img {
	width: 100%;
	height: auto;
	border-radius: 3px;
}
    
.grid_item:hover {
	border-radius: 5px;
	border: 3px solid grey;
	}

/* media shit */
@media only screen and (min-width: 640px) {
  .grid_items {
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 15px;
  }
  .grid_items > div {
    padding: 3%;
  }
}

@media only screen and (min-width: 981px) {
  .grid_items {
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 3%;
  }
  .grid_items > div {
    padding: 3%;
  }
}